body,
html {
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  align-content: center;*/
}

a {
  color: #00B7FF;
}

h2 {
  color: #dc3545;
  text-transform: uppercase;
  font-weight: bold;
}

.template {
  padding: 3rem 1.5rem;
  text-align: center;
  height: 100%;
  width: 100%;
}
