<link
        rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
        crossorigin="anonymous"
/>

{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row justify-content-center mb-3">
        <h1>Add tags</h1>
    </div>

    <div class="row justify-content-center">
        <form class="col-sm-6" action="/tags/add_new" method="post">
            <div class="form-group">
                <div class="input-group flex-nowrap">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="addon-wrapping">Tag name: </span>
                    </div>
                    <input id="colFormLabelTag_Name"
                           class="form-control col-sm-12"
                           type="text"
                           placeholder="tag_name"
                           name="tag_name"
                    />
                </div>
            </div>

            <div class="form-group">
                <button class="btn btn-primary col-sm-12" type="submit">
                    Add tag
                </button>
            </div>

            </br>
            </br>
            </br>
            <div class="form-group">
                <span>Existing tags:</span>
                <div class="input-group flex-nowrap">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="addon-wrapping">Tags: </span>
                    </div>
                    <select id="selectmultiple" name="tags" class="form-control" multiple="multiple">
                        <option value="1">Option one</option>
                        <option value="2">Option two</option>
                        <option value="3">Option three</option>
                    </select>
                </div>
            </div>

        </form>
    </div>
</div>
{% endblock %}
