{% extends "./base.html" %}

{% block content %}
    {% if messages %}
        {% for msg in messages %}
            <div class="alert alert-{{ msg.tags }} d-flex align-items-center mt-5" role="alert">
                <div>
                    {{ msg }}
                </div>
            </div>
        {% endfor %}
    {% endif %}

    <div class="container mt-5">
    <div class="row">
        <div class="col-md-5">
            <form class="d-flex flex-row align-items-center flex-wrap" action="search">
                <div class="input-group w-75">
                    <input id="colFormLabelEmail"
                           class="form-control me-sm-2"
                           type="text"
                           placeholder="name, email or phone number"
                           name="search_key"
                    />
                </div>
                <button class="btn btn-outline-secondary" type="submit">Search</button>
            </form>
        </div>

        <div class="col-md-5">
            <form class="d-flex flex-row align-items-center flex-wrap" action="to_birthday">
                <div class="input-group w-75">
                    <input id="colFormLabelEmail"
                           class="form-control me-sm-2"
                           type="number"
                           placeholder="days to birthday"
                           name="search_days"
                    />
                </div>
                <button class="btn btn-outline-secondary" type="submit">Search</button>
            </form>
        </div>

        <div class="col-md-2">
            <form class="d-flex flex-row align-items-center flex-wrap" action="/show_contacts">
                <div class="dropdown col-md-4">
                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                            data-bs-toggle="dropdown" aria-expanded="false" style="margin-right: 340px">
                        Filter: {% if filt %}{{ filt }}{% else %}No{% endif %}
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        {% for item in items %}
                            <li>
                                <a class="dropdown-item" href="{{ item }}" title="{{ item }}">{{ item }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </form>
        </div>
    </div><br>

    <div class="row mb-3">
        <h2>Contacts</h2>
    </div>
    <div class="row">
        {% for contact in contacts %}
            <div class="col-md-4">
                <div class="accordion" id="accordionExample">
                    <div class="card mb-4 shadow-sm">
                        <div class="card-body">
                            <img
                                    class="bd-placeholder-img card-img-top"
                                    {% if pic.path %}
                                    src="{{ pic.path }}"
                                    {% else %}
                                        {% load static %}
                                    src="{% static 'no_avatar.png' %}"
                                    {% endif %}
                                    width="150"
                                    height="150"
                                    alt="avatar photo here"
                                    srcset=""
                                    style="object-fit: contain"/>
                            </br>
                            </br>
                            <p class="card-title"><strong>Fullname: </strong> {{ contact.name }}</p>
                            </p>
                            <p class="card-text"><strong>Birthday: </strong>
                                {% if contact.birthday %}{{ contact.birthday }}{% endif %}</p>
                            <p class="card-text"><strong>Address: </strong>
                                {% if contact.address %}{{ contact.address }}{% endif %}</p>
                            <p class="card-text"><strong>Phone: </strong>{{ contact.phone_list }}</p>
                            <p class="card-text"><strong>Email: </strong>{{ contact.email_list }}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group" style="padding-left: 125px">
                                    <a class="btn btn-outline-info mx-1" href="/contacts/edit/{{ contact.id }}">
                                        &nbsp;&nbsp;Edit&nbsp;&nbsp;</a>
                                    <a class="btn btn-outline-danger"
                                       href="/contacts/delete/{{ contact.id }}">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
</div>
