<link
        rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
        crossorigin="anonymous"
/>

{% extends "./base.html" %}

{% block content %}
<div class="container">
    <form class="form-horizontal">
        <fieldset>

            <div class="form-group">
                <label class="col-md-4 control-label" for="selectbasic">Order by</label>
                <div class="col-md-4">
                    <select id="selectbasic" name="selectbasic" class="form-control">
                        <option value="name">Name</option>
                        <option value="dob">DOB</option>
                    </select>
                </div>
            </div>

        </fieldset>
    </form>


    <div class="row mb-3">
        <h1>Contacts</h1>
    </div>
    <div class="alert alert-info"></div>
    <div class="row">
        {% for contact in contacts %}
        <div class="col-md-4">
            <div class="accordion" id="accordionExample">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <img
                                class="bd-placeholder-img card-img-top"
                                src="{{pic.path}}"
                                width="100%"
                                height="225"
                                alt="avatar photo here"
                                srcset=""
                                style="object-fit: contain"/>
                        </br>
                        </br>
                        <p class="card-title"><strong>Fullname: </strong> {{contact.name}}</p>
                        </p>
                        <p class="card-text"><strong>Birthday: </strong>{{contact.birthday}}</p>
                        <p class="card-text"><strong>Address: </strong>{{contact.address}}</p>
                        <p class="card-text"><strong>Phone: </strong>{{contact.phone}}</p>
                        <p class="card-text"><strong>Email: </strong>{{contact.email}}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a class="btn btn-outline-info" href="/contacts/edit/{{contact.id}}">Edit</a>
                                <a class="btn btn-outline-danger" href="/contacts/delete/{{contact.id}}">Delete</a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
         {% endfor %}
        {% endblock %}
    </div>

</div>