{% extends "./base.html" %}

{% block content %}
    {% if messages %}
        {% for msg in messages %}
            <div class="alert alert-danger d-flex align-items-center" role="alert">
                <div>
                    {{ msg }}
                </div>
            </div>
        {% endfor %}
    {% endif %}
    <div class="container mt-5">
        <div class="row justify-content-center mb-5">
            <h2>Add contact</h2>
        </div>
        <div class="row justify-content-center">
            <form class="col-sm-6 col-sm-6 rounded shadow-lg" action="" method="POST">
                <div class="row justify-content-center mb-3 pt-3">
                    <img
                            {% if pic.path %}
                                src="{{ contact.path }}"
                            {% else %}
                                {% load static %}
                                src="{% static 'no_avatar.png' %}"
                            {% endif %}
                                width="150"
                                height="150"
                                alt="Avatar photo here"
                                style="object-fit: contain"
                    />
                </div>
                <div class="form-group  mb-2">
                    <div class="input-group">
                        <span class="input-group-text" id="addon-wrapping">Fullname: </span>
                        <input id="colFormLabelFullname"
                               class="form-control col-sm-12"
                               type="text"
                               placeholder="Fullname"
                               name="fullname"
                               value=""
                        />
                    </div>
                </div>

                <div class="form-group  mb-2">
                    <div class="input-group">
                        <span class="input-group-text" id="addon-wrapping">DOB: </span>
                        <input id="colFormLabelDOB"
                               class="form-control col-sm-12"
                               type="date"
                               placeholder="DOB"
                               name="dob"
                               value=""
                        />
                    </div>
                </div>


                <div class="form-group  mb-2">
                    <div class="input-group">
                        <span class="input-group-text" id="addon-wrapping">Address: </span>
                        <input id="colFormLabelAddress"
                               class="form-control col-sm-12"
                               type="text"
                               placeholder="Address"
                               name="address"
                               value=""
                        />
                    </div>
                </div>

                <div class="form-group  mb-2">
                    <div class="input-group">
                        <span class="input-group-text" id="addon-wrapping">Phone: </span>
                        <input id="colFormLabelPhone"
                               class="form-control col-sm-12"
                               type="text"
                               placeholder="Phone"
                               name="phone"
                               value=""
                        />
                    </div>
                </div>

                <div class="form-group  mb-2">
                    <div class="input-group flex-nowrap">
                        <span class="input-group-text" id="addon-wrapping">Email: </span>
                        <input id="colFormLabelEmail"
                               class="form-control col-sm-12"
                               type="text"
                               placeholder="Email"
                               name="email"
                               value=""
                        />
                    </div>
                </div>

                <div class="form-group">
                    <div class="form-group  mb-2">
                        <button class="btn btn-primary col-sm-12" type="submit">
                            Submit
                        </button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-group  mb-2">
                        <a href="{% url 'show_contacts' %}" class="btn btn-secondary col-sm-12" role="button">
                            Cancel
                        </a>
                    </div>
                </div>

            </form>

        </div>
    </div>
{% endblock %}
