<link
        rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
        crossorigin="anonymous"
/>


{% extends "project/base.html" %}

{% block content %}

{% if error %}
<div>
  <mark>{{ error }}</mark>
</div>
{% endif %}
<form method="GET" action="{% url 'detail_note' %}">
  {% csrf_token %}
<h1>{{note.name}}</h1>
<p>Description: <b>{{note.description}}</b></p>
<p>Time of creation: <kbd>{{note.created}}</kbd></p>
{% if note.done %}
<p>Status: <ins>Completed</ins></p>
{% else %}
<p>Status: <i>Not implemented</i></p>
{% endif %}

<p>Tags: <small>
  {{ note.list_tags }}
</small></p>
  {% for note in notes%}
      <ul>
        <li>
          {%if not note.done%}
          <a href="{% url 'detail_note' %}" role="button" class="outline"
            >{{note.name}}</a
          >
          <a href="{% url 'set_done_note' note.id %}" role="button">Mark Done</a>
          <a href="{% url 'delete_note' note.id %}" role="button" class="contrast"
            >Delete note</a
          >
          {% else %}

          <a href="{% url 'detail_note' %}" role="button" class="secondary"
            ><s>{{note.name}}</s></a
          >
          {% endif %}
        </li>
      </ul>
      {% endfor %}
{% endblock %}