{% extends "./base.html" %}

{% block content %}
    {% if messages %}
        {% for msg in messages %}
            <div class="alert alert-{{ msg.tags }} d-flex align-items-center mt-5" role="alert">
                <div>
                    {{ msg }}
                </div>
            </div>
        {% endfor %}
    {% endif %}
    <div class="container mt-5">
        <div class="row justify-content-center mb-5">
            <h2>Edit emails</h2>
        </div>
        <div class="row justify-content-center">
            <form class="col-sm-6 rounded shadow-lg" action="" method="POST">

                <div class="row justify-content-center mb-2 pt-3">
                </div>
                <div class="form-group mb-2">
                    <div class="input-group">
                        <span class="input-group-text" id="addon-wrapping">Fullname: </span>
                        <input id="colFormLabelFullname"
                               class="form-control col-sm-12"
                               type="text"
                               placeholder="Fullname"
                               name="fullname"
                               disabled="true"
                               value="{{ contact.name }}">
                    </div>
                </div>
                {% for email in emails %}

                <div class="form-group mb-2">
                    <div class="input-group">
                        <span class="input-group-text" id="addon-wrapping">Email: </span>
                        <input id="colFormLabelFullname"
                               class="form-control col-sm-12"
                               type="text"
                               placeholder="Fullname"
                               name="email-{{ email.id }}"
                               value="{{ email.mail }}">
                        <button type="submit" value="{{ email.id }}" name="subbutton"
                                class="btn btn-outline-primary col-sm-0">&nbsp;&nbsp;Edit&nbsp;&nbsp;
                        </button>
                        <button type="button"
                                onclick="window.location.href='{% url "email_del" email.id %}';"
                                class="btn btn-outline-danger col-sm-0">Delete
                        </button>
                    </div>
                </div>
                {% endfor %}

            <div class="form-group mb-2">
                <div class="input-group flex-nowrap">
                    <span class="input-group-text" id="addon-wrapping">New email: </span>
                    <input
                            type="text"
                            class="form-control"
                            placeholder="Email"
                            aria-label="Email"
                            aria-describedby="addon-wrapping"
                            name="email-0"
                            value="{{new_email}}"
                    >
                    <button type="submit" value="0" name="subbutton"
                            class="btn btn-outline-success col-sm-0">&nbsp;&nbsp;Add&nbsp;&nbsp;
                    </button>
                </div>
            </div>

                <div class="form-group">
                    <div class="form-group  mb-2">
                        <a href="{% url 'show_contacts' %}" class="btn btn-secondary col-sm-12" role="button">
                            Close
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
