<link
        rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
        crossorigin="anonymous"
/>
{% extends "project/base.html" %}

{% block content %}
    {% if messages %}
        {% for msg in messages %}
            <div class="alert alert-{{ msg.tags }} d-flex align-items-center mt-5" role="alert">
                <div>
                    {{ msg }}
                </div>
            </div>
        {% endfor %}
    {% endif %}

    <div class="container">
        <div class="row justify-content-center mb-3">
            <h2>Files on the server</h2>
        </div>
        <div class="row justify-content-center">
            <form
                    class="col-sm-6"
                    method="post"
                    enctype="multipart/form-data"
            >
                {% csrf_token %}
                <div class="form-group">
                    <div class="custom-file">
                        <input
                                class="custom-file-input"
                                type="file"
                                name="myfile"
                                id="customFile"
                        />
                        <label class="custom-file-label" for="customFile"
                        >Choose file</label
                        >
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary col-sm-12" type="submit">
                        Upload
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
