{% extends "project/base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="row mb-1">
        <div class="col mb-3">
            <h2>Final Project in Web</h2>
        </div>
    </div>
    <div class="row mb-1">
        <div class="col mt-3 me-auto">
            <p class="mb-5"><strong>Project contains 4 modules:</strong></p>
            <ul style="width:35%; align-content: start; text-align:left;  margin: 25px auto;">
                <li style="padding-bottom: 10px">addressbook</li>
                <li style="padding-bottom: 10px">notes</li>
                <li style="padding-bottom: 10px">files(add different types of files)</li>
                <li style="padding-bottom: 10px">info collector(news and exchange rates)</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}