{% extends "project/base.html" %}

{% block content %}
<div class="container">
    <div class="row justify-content-center mb-3">
        <h1>Info</h1>
    </div>
    {% if error %}
    <div>
        <mark>{{ error }}</mark>
    </div>
    {% endif %}
    <div class="row justify-content-center">

        <table class="table table-striped">
            <tbody>
            {% for line in news %}
            <tr>
                <td>{{line.dtime}}</td>
                <td><a href="{{line.href}}" class="link-secondary" target="blanl">{{line.title}}</a></td>
                <td>{{line.source}}</td>

            </tr>

            {% endfor %}

            </tbody>
        </table>



    </div>
</div>
{% endblock %}
