{% extends "project/base.html" %}
{% block content %}
<div class="container mt-5">

    <div class="mb-5">
        <form class="d-flex flex-row align-items-center flex-wrap" action="">
            <select id="selectbasic" name="selectbasic" class="form-select my-1 me-sm-2 w-auto">
                <option selected>order by</option>
                <option value="name">Status</option>
                <option value="dob">Date</option>
            </select>
            <button class="btn btn-sm btn-outline-secondary w-3" type="submit">Go</button>
        </form>
    </div>

    <div class="row mb-3">
        <h1>Your Notes</h1>
    </div>
    <div class="row">
        {% for note in notes%}
        <div class="col-md-4">
            <div class="accordion" id="accordionExample">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <ul>
                            <li>
                                <p>Tag: <small>
                                    {{ note.tags.all|join:", " }}
                                </small></p>
                                {%if not note.done%}
                                <a href="{% url 'detail_note' note.id %}" role="button" class="outline"
                                ><p>{{ note.created }}: </p>
                                    <p>{{note.name}} </p>
                                    <p>{{note.description}} </p>
                                    <p>{{ note.status }} </p>
                                </a
                                >
                                <a href="{% url 'set_done_note' note.id %}" role="button"> Mark Done</a>
                                <a href="{% url 'delete_note' note.id %}" role="button" class="contrast"
                                >Delete note</a
                                >
                                {% else %}

                                <a href="{% url 'detail_note' note.id %}" role="button" class="secondary"
                                ><s>{{note.name}}</s></a
                                >
                                {% endif %}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% endblock %}