{% extends "project/base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center mb-3">
        <h2>Registration</h2>
    </div>
    {% if error %}
    <div>
        <mark>{{ error }}</mark>
    </div>
    {% endif %}

    <div class="row justify-content-center">
        <form class="col-sm-8" method="post">
            {% csrf_token %}
            <div class="form-group mb-2">
                <div class="input-group flex-nowrap">
                    <span class="input-group-text col-sm-2" id="addon-wrapping">Nickname:</span>
                    <input name="username" type="text" class="form-control" required="">
                </div>
            </div>
            <div class="form-group mb-2">
                <div class="input-group flex-nowrap">
                    <span class="input-group-text col-sm-2" id="addon-wrapping">Email:</span>
                    <input name="email" type="text" class="form-control" required="">
                </div>
            </div>
            <div class="form-group mb-2">
                <div class="input-group flex-nowrap">
                    <span class="input-group-text col-sm-2" id="addon-wrapping">Password:</span>
                    <input name="password1" type="password" class="form-control" required="">
                </div>
            </div>
            <div class="form-group mb-2">
                <div class="input-group flex-nowrap">
                    <span class="input-group-text col-sm-2" id="addon-wrapping">Confirmation:</span>
                    <input name="password2" type="password" class="form-control" required="">
                </div>
            </div>
            <div class="form-group">
                <button class="btn btn-primary col-sm-12 mb-2" type="submit">
                    Registration
                </button>
                <a class="btn btn-outline-danger col-sm-12 mb-2" href="/" role="button">Go back</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
